.home {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  text-decoration: none;
  color: #333;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h3 {
  font-size: 1.4em;
  margin: 10px 0;
}

.card p {
  font-size: 1em;
  /* color: #666; */
}

.pagination {
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card h3 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.95em;
  }

  /* .pagination {
    flex-direction: column;
    gap: 0.5rem;
  } */

  .pagination span {
    margin: 0.5rem 0;
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
